<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web xdt:Transform="Insert">
		<customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		<iisnode loggingEnabled="true" devErrorsEnabled="true" nodeProcessCommandLine="node.exe --debug" xdt:Transform="SetAttributes" />
	</system.webServer>
</configuration>
